<!DOCTYPE html>
<html ng-app>
    <head>
        <title>MEAN Stack</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="ObrasArteController">
        <h1>MEAN Stack</h1>
        <ul>
            <li ng-repeat="obra in obras">
                <a href="#" ng-click="mostraObra(obra)"> {{obra.nomeObra}}</a>
            </li>
        </ul>

        <div>
        <dl ng-if="obraSelecionada">
            <dd>Nome da Obra</dd>
            <dt>{{obraSelecionada.nomeObra}}</dt>
            <dd>Tipo</dd>
            <dt>{{obraSelecionada.tipo}}</dt>
            <dd>Artista</dd>
            <dt>{{obraSelecionada.artista}}</dt>
            <dd>Período</dd>
            <dt>{{obraSelecionada.periodo}}</dt>
            <dd>Criação</dd>
            <dt>{{obraSelecionada.criacao}}</dt>
        </dl>
        </div>
        <form ng-submit="adicionaObra()">
            Nome Obra: <input ng-model = "obra.nomeObra">
            Tipo: <input ng-model = "obra.tipo">
            Artista: <input ng-model = "obra.artista">
            Periodo: <input ng-model = "obra.periodo">
            Criacao: <input ng-model = "obra.criacao">
            <input type="submit">
        </form>
        <script src="/js/angular.js"></script>
        <script src="/js/ObrasArteController.js"></script>
    </body>
</html>
