<!DOCTYPE html>
<html ng-app>
    <head>
        <title>MEAN Stack</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="ObrasArteController">
        <h1>MEAN Stack</h1>
        <p>{{obra}}</p>
        <script src="/js/angular.js"></script>
        <script src="/js/ObrasArteController.js"></script>
    </body>
</html>
