<!DOCTYPE html>
<html ng-app>
    <head>
        <title>MEAN Stack</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="ObrasArteController">
        <h1>MEAN Stack</h1>
        <ul>
            <li ng-repeat="obra in obras">
                <a href="#" ng-click="mostraObra(obra)"> {{obra.nomeObra}}</a>
            </li>
        </ul>

        <div ng-if="obraSelecionada">
        <dl >
            <dt>Nome da Obra</dt>
            <td>{{obraSelecionada.nomeObra}}</td>
            <dt>Tipo</dt>
            <td>{{obraSelecionada.tipo}}</td>
            <dt>Artista</dt>
            <td>{{obraSelecionada.artista}}</td>
            <dt>Período</dt>
            <td>{{obraSelecionada.periodo}}</td>
            <dt>Criação</dt>
            <td>{{obraSelecionada.criacao}}</td>
        </dl>

        <a href="#" ng-click="removeObra()">Deletar Obra {{obraSelecionada.nomeObra}}</a>
        <br>
        <a href="#" ng-click="editarObra()">Editar Obra {{obraSelecionada.nomeObra}}</a>
        <br>
        </div>
        <form ng-submit="salvarObra()">
            Nome Obra: <input ng-model = "obra.nomeObra">
            Tipo: <input ng-model = "obra.tipo">
            Artista: <input ng-model = "obra.artista">
            Periodo: <input ng-model = "obra.periodo">
            Criacao: <input ng-model = "obra.criacao">
            <input type="submit">
        </form>
        <script src="/js/angular.js"></script>
        <script src="/js/ObrasArteController.js"></script>

        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
